@model AspNewStudy.Models.Doctor



<div class="modal-content">

    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">Х</button>
        <h4>Doctor Details</h4>
    </div>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.account)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.account)
            </dd>





            <dt>
                Patients:
            </dt>
            <dd>
                <ul>
                    @foreach (AspNewStudy.Models.Patient p in Model.Patients)
                    {
                        <li>@p.account.FirstName</li>
                    }
                </ul>
        </dl>
    </div>

    <div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>