
@{
    ViewBag.Title = "UserInfo";
}

<div class="row">
    <div>
        <div>User Info:</div>
        <div>
        
                <p>Browser: @ViewBag.browser</p>
                <p>User agent: @ViewBag.userAgent</p>
                <p>Url: @ViewBag.url</p>
                <p>Ip: @ViewBag.ip</p>
                <p>Referrer: @ViewBag.referrer</p>
     
        </div>
    </div>
</div>

